$primary: #ff385c;
$white: #ffffff;
$black: #222222;

// SCROLLBAR
$scrollbar-width: 8px;
$scrollbar-thumb-color: #ff385c;
$scrollbar-thumb-hover-color: #f14766;
$scrollbar-track-color: #222222;
$scrollbar-border-radius: 5px;

* {
    &::-webkit-scrollbar {
        width: $scrollbar-width;
        background-color: $scrollbar-track-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb-color;
        border-radius: $scrollbar-border-radius;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $scrollbar-thumb-hover-color;
    }

    &::-webkit-scrollbar-track {
        background-color: $scrollbar-track-color;
        border-radius: $scrollbar-border-radius;
    }
}

main {
    font-family: "Lexend Deca", sans-serif, Arial, Helvetica, sans-serif;
    background-color: #fff1f1;
}

.bg-bg {
    background-color: #fff1f1;
    width: 100%;
    height: 100%;
}

.border-pink {
    border-color: $primary !important;

    input {
        border-color: $primary !important;
    }
}

.d-inline {
    display: inline-block;
    color: $primary !important;
}

.primary-color {
    color: $primary !important;
}

.navbar {
    background-color: $black !important;

    .nav-item {
        a.nav-link {
            color: $white;
            border-bottom: 3px inset transparent;
            transition: all 0.5s;

            &:hover {
                border-bottom: 3px inset $primary;
                color: $primary !important;
            }
        }
    }
}

.active {
    color: $primary !important;
}

.box-card {
    width: 350px !important;

    border: 0;
    box-shadow: 1px 1px 12px 6px rgba(103, 103, 104, 0.2);
}

.bg-pink {
    background-color: $primary !important;
}

.bg-black {
    background-color: $black !important;
}

.wave {
    background-image: url(/public/img/wave.svg);
    background-size: cover;
    background-position: center;
    height: 100px;
    background-color: $black;
}

.wave-black {
    background-image: url(/public/img/waveBlack.svg);
    background-size: cover;
    background-position: center;
    height: 100px;
    background-color: $primary;
}

.bg-dark-card {
    background-color: #363a41 !important;
}

.fit-content {
    width: fit-content;
}

.fs-small {
    font-size: 14px !important;
}

.card-sponsor {
    min-height: 787px;
    max-width: 600px;
    margin: 0 auto;
}

.bg-apartment {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, #ff385c 0%, #fe7991 47%, #ffbdc9 94%);
}

.apartment-vh {
    height: calc(100vh - 76px);
}

.btn-hover:hover {
    color: $white !important;
}

.show-container {
    padding-top: 76px;
}

.vh-100-p {
    height: calc(100vh - 76px);
}

a:hover {
    .fa-arrow-left {
        animation: slide1 1s ease-in-out infinite;
    }
}

@keyframes slide1 {
    0%,
    100% {
        transform: translate(5px, 0);
    }

    50% {
        transform: translate(-5px, 0);
    }
}

.text-copper {
    color: #b87333;
}

.text-silver {
    color: #a9a9a9;
}

.text-gold {
    color: #daa520;
}
// @media screen and (max-width: 1100px) {
//     .card {
//         min-height: 850px;
//     }
// }

// @media screen and (max-width: 992px) {
//     .card {
//         min-height: 500px;
//     }
// }
